[Desktop Entry]
Type=Application
Name=Web Browser
Icon=web-browser
Exec=python3 /usr/share/svent/xfce-panel/scripts/launch-app.py firefox
Terminal=false
