.xfce4-panel { background-color: #1a1e21; color: #e6e7e8; border: 0; font-family: Sans; font-size: 10pt; }
.xfce4-panel button { background: transparent; color: #e6e7e8; border: 1px solid transparent; border-radius: 0; box-shadow: none; padding: 2px 6px; }
.xfce4-panel button:hover { background-color: #30363b; }
.xfce4-panel button:checked, .xfce4-panel button:active { background-color: #30363b; border-color: #ff6266; }
.xfce4-panel menu { background-color: #20262a; color: #e6e7e8; }
.xfce4-panel menuitem { padding: 8px 12px; }
.xfce4-panel menuitem:hover { background-color: #873c3b; color: white; }
