button-icon=applications-other
button-title=Applications
show-button-title=true
show-button-icon=true
button-single-row=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
item-icon-size=2
category-icon-size=1
hover-switch-category=false
category-show-name=true
sort-categories=true
view-as-icons=false
load-hierarchy=false
position-search-alternate=true
menu-width=520
menu-height=560
menu-opacity=100
favorites=firefox-esr.desktop,xfce4-file-manager.desktop,xfce4-terminal.desktop,svent-xfce-backgrounds.desktop
