#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	python3 panel/generate.py

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/svent-xfce/usr/bin/svent-xfce-*
	chmod 0755 debian/svent-xfce/etc/skel/.config/xfce4/xinitrc
