[Desktop Entry]
Type=Application
Name=Svent Wallpaper
Comment=Apply the Svent wallpaper with proportional fill
Exec=svent-xfce-wallpaper
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
NoDisplay=true
